{% if site.disqus %}
<!-- Polyfill must be loaded before DisqusJS -->
<!-- Promise Polyfill -->
<script src="{{ site.ghmirror }}/assets/js/vendor/polyfill.min.js"></script>
<!-- Fetch Polyfill -->
<script src="{{ site.ghmirror }}/assets/js/vendor/fetch.umd.min.js"></script>
<link rel="stylesheet" href="{{ site.ghmirror }}/assets/css/vendor/disqusjs.css">
<script id="dsqjs-script" src="{{ site.ghmirror }}/assets/js/vendor/disqus.js"></script>
<script>
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = '{{ site.disqus.shortname }}';
    var disqus_siteName = '{{ site.disqus.siteName }}';
    var disqus_api = '{{ site.disqus.api }}';
    var disqus_apikey = [];
    {% for apikey in site.disqus.apikey %}
        disqus_apikey.push('{{ apikey }}');
    {% endfor %}
    var disqus_admin = '{{ site.disqus.admin }}';
    var disqus_adminLabel = '{{ site.disqus.adminLabel }}';
    var dsqjs = new DisqusJS({
        shortname: disqus_shortname,
        siteName: disqus_siteName,
        api: disqus_api,
        apikey: disqus_apikey,
        admin: disqus_admin,
        adminLabel: disqus_adminLabel
    });
</script>
{% endif %}
