{% if site.disqus %}
<!-- Polyfill must be loaded before DisqusJS -->
<!-- <script src="{{ site.ghmirror }}/assets/js/vendor/polyfill.min.js"></script>
<script src="{{ site.ghmirror }}/assets/js/vendor/fetch.umd.min.js"></script>
<script id="dsqjs-script" src="{{ site.ghmirror }}/assets/js/vendor/disqus.js"></script> -->
<script>
    window.disqus_shortname = '{{ site.disqus.shortname }}';
    window.disqus_siteName = '{{ site.disqus.siteName }}';
    window.disqus_api = '{{ site.disqus.api }}';
    window.disqus_apikey = [];
    {% for apikey in site.disqus.apikey %}
        window.disqus_apikey.push('{{ apikey }}');
    {% endfor %}
    window.disqus_admin = '{{ site.disqus.admin }}';
    window.disqus_adminLabel = '{{ site.disqus.adminLabel }}';
</script>
<link rel="stylesheet" href="{{ site.ghmirror }}/assets/css/vendor/disqusjs.css" media="none" onload="if(media!='all')media='all'">
<script src="{{site.ghmirrorcombine}}{{site.ghmirrorpath}}/assets/js/vendor/polyfill.min.js,{{site.ghmirrorpath}}/assets/js/vendor/fetch.umd.min.js,{{site.ghmirrorpath}}/assets/js/vendor/disqus.js,{{site.ghmirrorpath}}/assets/js/vendor/disqus-settings.min.js" async></script>
{% endif %}
